<ion-header translucent="true">
  <ion-card>
    <ion-toolbar>
      <ion-img routerLink="/home" style="width: 50px; height: 50px;" src="assets/flecha2.png"></ion-img>
    </ion-toolbar>
  </ion-card>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item (click)="Sonido()">
        <ion-avatar slot="start">
          <ion-img src="assets/SSBU.webp"></ion-img>  
        </ion-avatar>
        <ion-label><strong>Super Smash Bros. Ultimate Intro Song</strong></ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-card><iframe width="400" height="250" src="https://www.youtube.com/embed/eP165tiRd24" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></ion-card>
      <ion-text class="ion-text-justify" style="color: white">
        Super Smash Bros. Ultimate (大乱闘スマッシュブラザーズ SPECIAL Dai rantō Sumasshu Burazāzu Supesharu?, lit. «Último Gran Golpe de Hermanos») es un videojuego de lucha crossover de la serie Super Smash Bros. 
        desarrollada por Bandai Namco Games y Sora Ltd. y publicado por Nintendo. Este salió a la venta para Nintendo Switch a nivel mundial el 7 de diciembre de 2018. 
        Super Smash Bros. Ultimate fue presentado por primera vez durante un Nintendo Direct el 8 de marzo de 2018, bajo el título provisional Super Smash Bros., y se anunció formalmente durante la presentación de Nintendo en el E3 2018.5​6​7​1​
        Super Smash Bros. Ultimate fue desarrollado por Bandai Namco Games y Sora Ltd., el mismo equipo que desarrolló Super Smash Bros. para Nintendo 3DS y Wii U, con Masahiro Sakurai como director. 
        El objetivo de Sakurai para Ultimate era incluir a todos los personajes de juegos anteriores, sabiendo que esto sería un problema complejo tanto para el desarrollo como para la licencia. También quería tratar de ajustar las habilidades de los personajes para acelerar el juego. 
        Sakurai sabía que Ultimate era un título básico para Nintendo y que tenía una base de jugadores dedicada que no quería defraudar, y creía que necesitaba completar estos objetivos para satisfacer a ambos grupos de jugadores, tanto jugadores competitivos veteranos, como jugadores en el que Ultimate es su entrega introductoria, 
        también sin dejar atrás a jugadores casuales, que buscan solamente diversión.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>