ion-item{
    --border-radius: 200px;
    --ion-background-color: #8f8f8f;
  }
  
  ion-content{
    --ion-background-color: #000000;
  }
  
  ion-label{
    color: #ffffff;
  }
  
  ion-card{
    --ion-background-color: #646464;
  }