<ion-header translucent="true">
  <ion-card>
    <ion-toolbar>
      <ion-img routerLink="/home" style="width: 50px; height: 50px;" src="assets/flecha2.png"></ion-img>
    </ion-toolbar>
  </ion-card>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item (click)="Sonido()">
        <ion-avatar slot="start">
          <ion-img src="assets/SSBB.png"></ion-img>  
        </ion-avatar>
        <ion-label><strong>Super Smash Bros. Brawl Intro Song</strong></ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-card><iframe width="400" height="250" src="https://www.youtube.com/embed/ON7g87QhCQo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></ion-card>
      <ion-text class="ion-text-justify" style="color: white">
        Super Smash Bros. Brawl (大乱闘スマッシュブラザーズＸ Dairantō Sumasshu Burazāzu Ekkusu?, lit. «Gran estruendo de hermanos X») es un videojuego de lucha distribuido por Nintendo para la videoconsola Wii. Como la tercera entrega de la serie Super Smash Bros., la lista de personajes de Brawl se expande con respecto a la de su predecesor Super Smash Bros. Melee, y es el primer juego dentro de la serie en presentar personajes de franquicias externas a Nintendo, con la inclusión de Solid Snake de la serie Metal Gear de Konami, y Sonic de la serie Sonic the Hedgehog de Sega.
        Brawl fue anunciado personalmente en una conferencia de prensa anterior al E3 respectivo del año 2004 por el director ejecutivo en jefe Satoru Iwata.​ Posteriormente en esa misma noche, se le propuso al director de los dos juegos de la serie Super Smash Bros. previamente lanzados, Masahiro Sakurai, que fuera el director del tercer título; este último aceptó el cargo.​ En octubre de 2005, cuando comenzó el desarrollo del juego, Nintendo ya había pedido la ayuda de varios desarrolladores externos para que trabajaran en una oficina en Tokio exclusiva para el desarrollo de Brawl. 
        El desarrollo del juego comenzó en octubre de 2005​ con un equipo que incluyó a miembros de Nintendo y de algunas third party. 
        Después de varios retrasos por problemas técnicos, el juego fue finalmente lanzado en Japón el 31 de enero de 2008, el 9 de marzo de 2008 en Norteamérica,​ el 26 de junio de 2008 en Australia y el 27 de junio de 2008 en Europa.​ Veintisiete meses después del lanzamiento japonés, el juego fue lanzado en Corea del Sur, el 29 de abril de 2010.
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
